@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron" >

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>VW main site: <button href="https://www.vw.co.za/en/models.html" class="btn-outline-primary">Models and configurator</button></p>
    </div>

</div>
