@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>About <a href="https://www.vw.co.za/en/models.html">Models and configurator</a>.</p>
</div>
